<nav class="navbar navbar-dark" style="background-color: #52c2d0;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Gnav_app</a>
    </div>
  </div>
</nav>