<div class="row">
  <div class="col-md-10 offset-md-1">
    <h1>検索結果一覧</h1>
  </div>
  <div class="col-md-10 offset-md-1">
    <table id="index" border="1" width="500" cellspacing="0" cellpadding="5">
      <tr>
        <th>店名</th>
        <th width="150">画像</th>
        <th width="200">現在地からの徒歩でかかる時間</th>
      </tr>

      <% @restaurants.each do |res| %>
        <tr>
          <td bgcolor="#FFFFFF" valign="top" width="150">
            <%= link_to res[:name], res[:id] %>
          </td>
          <td bgcolor="#FFFFFF" valign="top" width="150">
            <% if res[:image] == "" %>
                <p class="text-center">画像はありません</p>
            <% else %>
              <image src="<%= res[:image] %>">
            <% end %>
          </td>
          <td bgcolor="#FFFFFF" valign="top" width="200"><%= res[:access] %>分</td>
        </tr>
      <% end %>
    </table>
    <%= paginate @restaurants %>
  </div>
</div>
